body {
  font-size: 14px;
}
:root {
  /* 在这里定义变量 */
  --primary-color: #ff9854;
  /* --van-tabbar-item-icon-size: 40px !important; */
  /* --van-tabbar-item-font-size: rgb(98, 255, 0); */
  --van-tabbar-item-active-color: var(--primary-color);
  --van-index-anchor-sticky-text-color: var(--primary-color) !important;
  --van-index-bar-index-active-color: var(--primary-color) !important;
  --van-calendar-popup-height: 100% !important;
}
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}
